modules = ["nodejs-20", "web", "python-3.12"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "lcms2", "libGL", "libGLU", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "postgresql", "rustc", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
ENVIRONMENT = "development"
AI_ENABLED = "true"
AI_FAKE_DETECTION_ENABLED = "true"
FRONTEND_URLS = "http://localhost:5173,http://127.0.0.1:5173"
BACKEND_CORS_ORIGINS = "[\"http://localhost:5173\",\"http://127.0.0.1:5173\",\"http://localhost:3000\",\"http://127.0.0.1:3000\"]"
REDIS_URL = "redis://localhost:6379/0"
ACCESS_TOKEN_EXPIRE_MINUTES = "15"
REFRESH_TOKEN_EXPIRE_DAYS = "7"
OTP_EXPIRE_MINUTES = "5"
OTP_MAX_ATTEMPTS = "5"
MAIL_USERNAME = "snap2fix.admin@gmail.com"
MAIL_PASSWORD = "ehatzrwrztmebrcm"
MAIL_FROM = "snap2fix.admin@gmail.com"
MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = "465"
SECRET_KEY = "5521d02f2e3a2d415d2ee2c793700bb594e2c0a3f886d0d46efd5ed5aaa45a55"
ALGORITHM = "HS256"
SUPABASE_URL = "https://xyqxtftotueaenqtyrla.supabase.co"
SUPABASE_SERVICE_KEY = "sb_secret_gv1Qdxg1GU44xXlHDTem6A_pXsItiXF"
API_V1_STR = "/api/v1"
AI_CONFIDENCE_THRESHOLD = "0.8"
HF_API_TOKEN = "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"
POTHOLE_MODEL_PATH = "/home/runner/workspace/backend/Pothole_best.pt"
CRACK_MODEL_PATH = "/home/runner/workspace/backend/Crack_best.pt"
UPLOAD_DIR = "uploads"
MAX_IMAGE_SIZE_MB = "50"
MAX_VIDEO_SIZE_MB = "150"
RATE_LIMIT_PER_MINUTE = "60"
SUPABASE_DATABASE_URL = "postgresql+psycopg2://postgres.xyqxtftotueaenqtyrla:SE_Road_Damage_Detection@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python3 -m uvicorn app.main:app --host localhost --port 8000 --reload"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd frontend && npm run build && cd /home/runner/workspace/backend && python3 -m uvicorn app.main:app --host 0.0.0.0 --port 5000"]
build = ["bash", "-c", "cd frontend && npm run build"]
