.app-header {
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 260px; /* same as sidebar width */
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: #19391993 2px solid;
}

.app-header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.app-header-left h2 {
  font-size: 1.6rem;
  color: #193919;
  font-weight: 600;
}

.app-header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user-name {
  font-weight: 500;
  color: #333;
}

.profile-icon {
  font-size: 35px;
  color: #058605;
  cursor: pointer;
  border: #000000 1px solid;
  border-radius: 50%;
}

.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: #045a22 2px solid;
}


.logout-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #058605;
  color: white;
  border: 1px solid #000;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.9);
  padding: 8px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.logout-btn:hover {
  background: #184a18;
}

.burger-btn{
  font-size: 1.4rem;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 15px;
  display: none;
}


/*responsiveness*/
/* show burger only on tablet/mobile */
@media (max-width: 1024px){

  .burger-btn{
    display: block;
  }

}

@media (max-width: 1024px){

  .app-header{
    left: 0;
  }

}

@media (max-width: 768px){

  .app-header{
    padding: 0 20px;
  }

  .app-header-right{
    gap: 15px;
  }

  .user-name{
    display:none; /* optional if space is tight */
  }

}