.reports-container {
    padding: 2rem;
    background-color: whitesmoke;
    min-height: 92vh;
    width: calc(100% - 255px); /* Adjust for sidebar width */
    margin-top: 60px; /* Height of the header */
    margin-left: 255px; /* Width of the sidebar */
}
