.allreports-container {
    padding: 2rem;
    background-color: rgba(250, 238, 228, 0.722);;
    height: 100vh;
    width: calc(100% - 255px); 
    margin-top: 0;
    margin-left: 255px; 
}

/* FILTER CONTAINER */
.allreports-filters {
  display: flex;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  margin-top: 70px;
  flex-direction: column;
  border-bottom: 1px solid #3a7d44;
}

.filters-row-allreports {
  display: flex;
  gap: 150px;
  align-items: flex-end;
}

.allreports-header h2 {
  font-size: 1.5rem;
  color: #555;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.filter-group-allreports {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 18px;
}

.filter-group-allreports label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #666;
  text-transform: uppercase;
}

.filter-buttons-allreports {
  display: flex;
  gap: 25px;
}

.filter-buttons-allreports button {
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid #168206;
  background: white;
  cursor: pointer;
}

.filter-buttons-allreports button:hover {
  background: linear-gradient(360deg, #90e99093, #c4e3c4);
  color: black;
  border-color: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.filter-buttons-allreports button.active {
  background: linear-gradient(360deg, #33733393, #367636);
  color: white;
  border-color: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

/* Standard select styling */
/*
.filter-group-allreports select {
  padding: 10px 70px;
  border-radius: 15px;
  border: 1px solid #168206;
}
*/

.custom-select-allreports {
  position: relative;
  width: 230px;
}

.custom-select-allreports select {
  width: 100%;
  padding: 10px 40px 10px 12px;
  border-radius: 15px;
  border: 1px solid #168206;
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
  background: linear-gradient(360deg, #90e99093, #c4e3c4);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.custom-select-allreports select:hover {
  background: linear-gradient(180deg, #659e65c2, #c4e3c4);
  color: black;
  border-color: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
}

/* Custom arrow */
.custom-select-allreports::after {
  content: "▼";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.79rem;
  color: #555;
}

.custom-select-allreports select:focus {
  outline: 1px solid #0c4802;
  border-color: #3a7d44;
}


/* TABLE CONTAINER */
.allreports-table-container {
  background: #ffffff;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  max-height: 440px;
  border-bottom: 1px solid #3a7d44;
}

.allreports-table {
  width: 100%;
  border-collapse: collapse;
}

.allreports-table th {
  text-align: left;
  font-size: 1rem;
  text-transform: uppercase;
  color: #444;
  padding-top: 5px;
  padding-bottom: 15px;
  position: sticky;
  top: 0;
  padding-left: 40px;
  align-items: center;
}

.allreports-table td {
  padding: 15px 0;
  border-top: 1px solid #bbb;
  padding-left: 40px;
  font-size: 0.9rem;
}

.allreports-table tbody {
  display: block;
  overflow-y: auto;
  max-height: 350px;
}

.allreports-table thead,
.allreports-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


.report-location-allreports {
  font-size: 0.8rem;
  color: #777;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /*or 
    display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  */
}

/*STATUS & SEVERITY TAGS */
.severity.critical {
  color: #740505;
  font-weight: 600;
}

.severity.non-critical {
  color: #0ea91d;
  font-weight: 600;
}

.status.pending {
  color: #777;
  font-weight: 600;
}

.status.in-progress {
  color: #e97537;
  font-weight: 600;
}

.status.completed {
  color: #2e7d32;
  font-weight: 600;
}

.no-data-allreports {
  text-align: center;
  padding: 20px;
  color: #888;
  font-size: 0.9rem;
  text-transform: uppercase;
  left: 100%;
  transform: translateX(-5%);
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal Box */
.modal-content {
  background: #fff;
  width: 80%;
  max-width: 900px;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

/* Close Button */
.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #444;
  font-weight: bold;
}

/* Modal Title */
.modal-title {
  font-size: 1.5rem;
  text-align: center;
  color: #12691c;
  margin-bottom: 20px;
}

/* Split Body */
.modal-body {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.modal-left {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reporter-info {
  background: #e8f5e9;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.info-row {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #333;
}

.info-card {
  display: flex;
  flex-direction: column;
  background: #f0fdf4;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.info-card .info-row p{
  display: flex;
  justify-content: space-between;
}

.info-card p {
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #333;
}

.additional-info {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c4e3c4;
  font-style: italic;
  color: #555;
  max-height: 150px;       /* maximum height before scrolling */
  overflow-y: auto;         /* vertical scroll if content exceeds max height */
  word-wrap: break-word;    /* ensures long words wrap instead of overflowing */
  white-space: pre-wrap;    /* preserves line breaks from text */
}

.location-info {
  background: #f0fdf4;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-height: 120px;        /* adjustable max height */
  overflow-y: auto;         /* scrollable if content exceeds height */
  text-align: center;       /* keeps content centered */
  word-wrap: break-word;    /* wrap long words */
}

/* RIGHT SIDE */
.modal-right {
  flex: 1;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-media {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-media img, .modal-media video {
  max-width: 100%;
  border-radius: 15px;
}

.clickable-row:hover {
  background: rgba(201, 231, 206, 0.3);
}