.report-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}


.report-modal {
  width: 60%;
  /*max-width: 1200px;*/
  height: 80vh;
  background: white;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 10000;
}

.report-left, .report-right {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/*LEFT PART*/
.report-left {
    background-color: rgba(250, 238, 228, 0.722);
}

.report-left h2{
    letter-spacing: 0.6px;
}

/*BUTTONS FOR LEFT SIDE*/
.report-buttons-container {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;     /* stack items vertically */
    justify-content: center;    /* vertical center */
    align-items: center;        /* horizontal center */
    text-align: center;         /* center text */
    margin-bottom: 15px;
    margin-top: 15px;
}


.file-type-buttons {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;
  gap: 40px;                 /* space between buttons */
}

.file-type-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;   /* center icon + text */
  gap: 12px;
  padding: 8px 55px;
  border-radius: 10px;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  background: white;
  margin-top: 6px;
  margin-bottom: 6px;
}

.file-type-buttons button.active {
  background: linear-gradient(180deg, #206220, #43a343);
  color: white;
  border: 1px solid #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

/*UPLOAD*/
.upload-box {
  border: 3px dashed #ccc;
  border-radius: 15px;
  position: relative;
  margin-bottom: 10px;
  height: 285px;
  overflow: hidden;     
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
.upload-box input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
*/

.preview-media {
  position: absolute;
  inset: 0;              /* fills entire box */
  width: 100%;
  height: 100%;
  object-fit: cover;     /* fills without distortion */
  border-radius: 15px;
}

.upload-content {
  z-index: 2;
  text-align: center;
}

.upload-camera-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap; /* keeps it responsive */
}

.camera-button,
.upload-btn {
  min-width: 160px;
  padding: 8px 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
  background: linear-gradient(180deg, #134413, #459745);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  border: 1px solid #000;
  color: white;
}

.camera-button:hover,
.upload-btn:hover {
  transform: translateY(-2px);
  opacity: 0.95;
}


.report-left h3 {
    text-align: center;
    letter-spacing: 0.6px;
    color: #206220;
    font-size: 0.85rem;
    opacity: 0.8;
    margin-bottom: 5px;
    margin-top: 25px;
}

/*RESULT BOX*/
.classification-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.result-box {
  flex: 1;
  padding: 10px 12px;
  text-align: center;
  border-radius: 12px;
  background: #FFF;
  font-weight: bold;
  border: 1px solid #777;
  margin-top: 10px;
  font-size: 0.7rem;
  color: #333;
}

.result-box.green {
  background: #1f9644;
  color: white;
}

.result-box.red {
  background: #b00020;
  color: white;
}

/*RIGHT PART*/
.classification-section h3{
    margin-top: 20px;
    color: #206220;
    font-size: 0.8rem;
    opacity: 0.8;
    letter-spacing: 0.6px;
}

.reporter-infoo {
  display: flex;
  gap: 15px;
}

.location-input {
  position: relative;
  width: 100%;
}

.location-section label {
    font-size: 0.9rem;
    opacity: 0.7;
    letter-spacing: 0.6px;
    color: #206220;
    font-weight: 600;
}

.location-section .location-input input {
     padding: 15px 50px 15px 20px;
    width: 100%;
    border-radius: 15px;
    margin-top: 6px;
    border: 1px solid #ddd;
    background-color: rgba(250, 238, 228, 0.722);
    margin-bottom: 20px;
}

.location-icon {
  position: absolute;
  right: 18px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #206220;
  font-size: 18px;
}

.location-icon:hover {
  color: #0e7a31;
}

.map-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.map-modal {
   background-color: rgb(250, 238, 228);
  width: 800px;
  height: 480px;
  border-radius: 20px;
  padding: 20px 40px;
}

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.map-modal h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #000;
}

.map-modal .current-loc {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(180deg, #206220, #43a343);
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.map-modal .current-loc:hover {
  background: linear-gradient(180deg, #154115, #52c552);
}

.map-actions {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.map-modal .cancel-button-map {
  background: #fff;
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid #000;
  color: #0e7a31;
  font-size: 0.9rem;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.map-modal .cancel-button-map:hover {
  background: #206220;
  color: white;
}


.reporter-infoo label {
    font-size: 0.9rem;
    opacity: 0.7;
    letter-spacing: 0.6px;
    color: #206220;
    font-weight: 600;
}

.reporter-infoo input {
    padding: 10px 20px;
    width: 100%;
    border-radius: 15px;
    margin-top: 6px;
    border: 1px solid #ddd;
    background-color: rgba(250, 238, 228, 0.722);
    margin-bottom: 20px;
}

.additional-infoo {
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.additional-infoo label {
    font-size: 0.9rem;
    opacity: 0.7;
    letter-spacing: 0.6px;
    color: #206220;
    font-weight: 600;
}

.additional-infoo textarea {
  resize: none;
  padding: 15px 15px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 0.8rem;
  outline: none;
  transition: all 0.2s ease;
  background-color: rgba(250, 238, 228, 0.722);
  margin-top: 7px;
}

.additional-infoo textarea:focus {
  border: 1px solid #0e7a31;
  background: white;
}

.char-count {
  align-self: flex-end;
  font-size: 0.8rem;
  margin-top: 5px;
  color: #777;
  margin-bottom: 10px;
}


.report-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.submit-btn {
  background: linear-gradient(180deg, #143e14, #54cf54);
  color: white;
  padding: 10px 80px;
  border-radius: 15px;
  font-size: 0.9rem;
  border: 1px solid #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.submit-btn:hover {
   background: linear-gradient(180deg, #247f24, #5fe55f);
}

.discard-btn {
  background: #fff;
  padding: 10px 40px;
  border-radius: 15px;
  border: 1px solid #aaa;
  color: #0e7a31;
  font-size: 0.9rem;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.discard-btn:hover {
  background-color: rgba(250, 238, 228, 0.722);
}
