.myprofile-container {
    padding: 2rem;
    background-color: rgba(250, 238, 228, 0.722);
    min-height: 92vh;
    width: calc(100% - 255px); /* Adjust for sidebar width */
    margin-top: 0; /* Height of the header */
    margin-left: 255px; /* Width of the sidebar */
    font-family: 'Poppins', sans-serif;
}

/* ================= TOP PROFILE HEADER ================= */
.profile-header {
  display: flex;
  gap: 30px;
  background: #fff;
  padding: 30px;
  border-radius: 35px;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.4);
  align-items: center;
  margin-top: 70px;
  border-bottom: 1px solid #0e7a31;
}

/* PROFILE IMAGE */
.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #0e7a31;
}

/* PROFILE INFO */
.profile-info {
  display: flex;
  flex-direction: column;
  flex: 1; /* takes remaining space */
}

.profile-info h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
  /* line control ng name pag mahaba*/
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.profile-bio {
  margin-top: 4px;
  margin-bottom: 15px;
  font-size: 0.9rem;
  color: #666;
  max-width: 400px;
 
  /*For styling ng length ng bio if mahaba*/
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* STATS ROW */
.profile-stats {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* prevents overflow */
  justify-content: flex-end;
}

.stat-card {
  background-color: rgba(250, 238, 228, 0.722);
  border-radius: 15px;
  padding: 15px 20px;
  text-align: center;
  min-width: 110px;
  border: 1px solid rgba(5, 49, 1, 0.258);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.stat-card span {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}

.stat-card p {
  font-size: 0.75rem;
  color: #1f57249d;
  font-weight: 700;
  margin-top: 4px;
  text-transform: uppercase;
}

/* ================= TABS ================= */
.profile-tabs {
  display: flex;
  gap: 35px;
  margin: 25px 5px;
}

.profile-tabs button {
  padding: 12px 25px;
  border-radius: 30px;
  border: 1px solid #000;
  background: #e6ebe8;
  cursor: pointer;
  font-weight: 600;
  color: #555;
}

.profile-tabs button:hover {
  background: linear-gradient(360deg, #90e99093, #c4e3c4);
  color: black;
  border-color: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.profile-tabs button.active {
  background: linear-gradient(360deg, #33733393, #367636);
  color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

/*============== HEADER ===============*/
.profile-content {
  background: rgba(255, 255, 255, 0.342);
  border-radius: 30px;
  padding: 5px 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}
.profile-content-header {
  display: flex;
  justify-content: space-between; /* key line */
  align-items: center;
  margin-bottom: 5px;
}

.profile-content .profile-content-title h2 {
  font-size: 1.4rem;
  color: #4e6c4ac1;
  text-transform: uppercase;
  margin-left: 50px;
}

/* ================= FEED FILTERS ================= */
.feed-filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-top: 20px;
}

.feed-filters button {
  padding: 8px 18px;
  border-radius: 20px;
  border: 1px solid #000;
  background: #e6ebe8;
  cursor: pointer;
}

.feed-filters button:hover {
  background: linear-gradient(360deg, #90e99093, #c4e3c4);
  color: black;
  border-color: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.feed-filters button.active {
  background: linear-gradient(360deg, #33733393, #367636);
  color: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

/* ================= REPORT CARD ================= */
.report-card {
  background: #fff;
  padding: 30px 70px;
  border-radius: 45px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 80%;
  margin: 0 auto 25px auto;
  border-bottom: 1px solid #0e7a31;
}

/* REPORT HEADER */
.report-header strong {
  font-size: 1rem;
  color: #47714d;
  text-transform: uppercase;
}

.report-header p {
  font-size: 0.8rem;
  color: #759579;
  text-transform: uppercase;
  font-weight: 600;
}

/* IMAGE + AI RESULT */
.report-main {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  justify-content: center;
}

.report-main img {
  width: 290px;
  height: 200px;
  border-radius: 25px;
  object-fit: cover;
  border: 2px solid #000;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.ai-result {
  background: rgba(250, 238, 228, 0.384);
  padding: 15px;
  border-radius: 25px;
  min-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #0e7a31;
  border-right: 1px solid #0e7a31;
}

.ai-result h4 {
  font-size: 1.1rem;
  color: #21934ea3;
  margin-bottom: 20px;
}

.ai-result h5 {
  color: #00000079;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.ai-result p {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.damage.pothole {
  color: #b45309; 
  font-weight: 600;
  text-transform: uppercase;
}

.damage.crack {
  color: #25869b;
  font-weight: 600;
  text-transform: uppercase;
}

.severity.critical {
  color: #6b0909; 
  font-weight: 700;
   text-transform: uppercase;
}

.severity.non-critical {
  color: #15803d; 
  font-weight: 700;
  text-transform: uppercase;
}


/* LOCATION */
.report-location {
  font-size: 0.9rem;
  color: #759579;
  font-weight: 800;
  margin-bottom: 10px;
}

.report-location .report-location-icon {
  font-size: 1.1rem;
  color: #377d37;
  vertical-align: top;
  margin-right: 5px;
}

/* DESCRIPTION */
.report-description {
  background: #f7f9f8;
  padding: 15px;
  border-radius: 15px;
  font-size: 0.9rem;
  color: #444;
    word-wrap: break-word;
  overflow-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ================= STATUS TIMELINE ================= */
.status-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  position: relative;
}

/* EACH STEP */
.timeline-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  position: relative;
  text-align: center;
  color: #9ca3af;
}

/* ICON CIRCLE */
.timeline-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  z-index: 2;
}

/* CONNECTING LINE */
.timeline-line {
  position: absolute;
  top: 21px;
  left: 50%;
  width: 100%;
  height: 4px;
  background: #e5e7eb;
  z-index: 1;
}

/* ACTIVE STATE */
.timeline-step.active .timeline-icon {
  background: #0e7a31;
  color: #fff;
}

.timeline-line.active {
  background: #0e7a31;
}

.timeline-step p {
  margin-top: 8px;
  font-size: 0.75rem;
  font-weight: 600;
}


/* ================= PROFILE SETTINGS ================= */
.profile-settings {
  background: #fff;
  padding: 30px;
  width: 95%;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #000;
  margin: 0 auto 25px auto;
}

.profile-settings h3 {
  font-size: 1.5rem;
  color:#0e7a31;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-settings p {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 20px;
}

/* AVATAR SETTINGS */
.settings-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.avatar-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #0e7a31;
}

/* Camera button overlay */
.camera-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  background: rgb(178, 228, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

.camera-btn:hover {
  background: #0e7a31;
}

.camera-btn:hover .change-camera-icon {
  color: white;
}

.change-camera-icon {
  font-size: 1.2rem;
  color: #034503;
  vertical-align: middle;
  margin-top: 2px;
}


/* FORM */
.settings-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-form input,
.settings-form textarea {
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  margin-bottom: 10px;
  background-color: rgba(250, 238, 228, 0.722);
}

.settings-form label {
  display: block;
  font-weight: 600;
  font-size: 0.85rem;
  color: #58996c;
  letter-spacing: 0.9px;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* left padding for icon space */
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  margin-bottom: 10px;
  background-color: rgba(250, 238, 228, 0.722);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 40%;
  transform: translateY(-50%);
  color: #000;
  font-size: 15px;
}


/* ACTION BUTTONS */
.settings-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 25px;
}

.settings-actions .discard {
  background: linear-gradient(360deg, #90e99093, #c4e3c4);
  color: black;
  border: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 25px;
  border-radius: 20px;
}

.settings-actions .discard:hover {
  background: linear-gradient(180deg, #4bc64b93, #669e66);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.settings-actions .save {
  background: linear-gradient(180deg, #175e17c3, #346334);
  color: white;
  border: #3a7d44;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  padding: 10px 25px;
  border-radius: 20px;
}

.settings-actions .save:hover {
  background: linear-gradient(360deg, #0b300bc3, #69cc69);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.no-reports {
  background: #f8faf9;
  padding: 60px;
  border-radius: 30px;
  text-align: center;
  color: #6b7280;
  box-shadow: inset 0 0 0 2px #e5e7eb;
}

/*NO REPORTS */
.no-reports h3 {
  font-size: 1.3rem;
  color: #0e7a31;
  margin-bottom: 10px;
}

.no-reports p {
  font-size: 0.9rem;
}
